.container{
  margin-top: 5%;
  display: flex;
}
.card-map {
  margin: 2rem 2rem 3rem 0;
  height: 70vh;
  width: 60%;
  display: flex;
}
.card {
  width: 50%;
  margin: 2rem 2rem 3rem 0;
  display: flex;
}
.card .btn{
  background-color: var(--secondary-color);
  border: none;
  color: white;
}

.modal {
  margin-top: 2%;
}
