*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::selection {
    background-color: rgb(116, 115, 115);
}
.container {
    height: 80vh;
    margin:auto;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.form {
    
    width: 50%;
    height: auto;
    background-image: linear-gradient(to bottom, #ffffffd7, #ffffff11);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
    border: 1px solid var(--black);
    box-shadow: inset 0 0 20px var(--bg-login);

}
.title {
    color: var(--black);
    margin: 3rem 0;
    font-size: 2rem;
    font-weight: 400;
}

.input {
    margin: 0.5rem 0;
    padding: 1rem 0.5rem;
    width: 20rem;
    color: var(--black);
    border: none;
    outline: none;
}

.username {
    border-bottom: 2px solid var(--black);
    transition: all 400ms;
}

.username:hover {
    background-color:var(primary-color);
    border: solid thin;
    border-radius: 0.5rem;
}

.password {
    border-bottom: 2px solid var(--black);
    transition: all 400ms;
}

.password:hover {
    background-color:var(primary-color);
    border: solid thin;
    border-radius: 0.5rem;
}

.btn {
    border: solid 1px;
    height: 3rem;
    width: 20rem;
    margin-top: 3rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    transition: all 400ms;
}
#login {
    font-size: 12pt;
    background-color: var(--black);
    color: var(--white);
}
#login:hover {
    background-color: var(--white);
    color: var(--black);
    border: solid 2px var(--blue-color) ;
    text-transform: uppercase;

}
.p {
    text-align: center;
    color: var(--black);
    font-size: 14px;
    margin: 5px 0;
}

.btn1 {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid var(--bg-color);
    background-color:var(--white);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    padding: 10px 40px;
    margin-bottom: 20px;
}

.btn1:hover {
    border: 2px solid var(--blue-color);
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.span {
    font-size: 14px;
    margin-left: 5px;
    color: var(--blue-color);
    font-weight: 500;
    cursor: pointer;
}

