*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::selection {
    background-color: rgb(116, 115, 115);
}
.container {
    height: 80vh;
    margin:auto;
    margin: 8rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
#form-signup {
    width: 50%;
    height: auto;
    background-image: linear-gradient(to bottom, #ffffffd7, #ffffff11);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
    border: 1px solid var(--black);
    box-shadow: inset 0 0 20px var(--bg-login);
    animation: fadeIn 1s linear;

}
.title {
    color: var(--black);
    margin: 3rem 0;
    font-size: 2rem;
    font-weight: 400;
}

.input {
    margin: 0.5rem 0;
    padding: 1rem 0.5rem;
    width: 20rem;
    color: var(--black);
    border: none;
    outline: none;
    border-bottom: 2px solid var(--black);
    transition: all 400ms;
}
.input:hover {
    background-color:var(primary-color);
    border: solid thin;
    border-radius: 0.5rem;
}
.btn {
    border: solid 1px;
    height: 3rem;
    width: 20rem;
    margin:3rem 0;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    transition: all 400ms;
    font-size: 12pt;
    color: var(--white);
}
#sign_up:hover {
    background-color: var(--white);
    color: var(--black);
    border: solid 2px var(--blue-color) ;
    text-transform: uppercase;
}
@keyframes fadeIn {
     0% {
        transform: translateY(-300px);
    }
    25% {
        transform: translateY(-150px);
    }
    50% {
        transform: translateY(50px);
    }
    75% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(0);
    }
}
