/* nav styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 
  .wrapper {
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    position: relative;
    
  }
  
  .navigation {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 8rem 1rem 8rem;
    max-height: 5rem;
    z-index: 9998;
    box-shadow: -3px 0px 3px 3px var(--black);
    background-color: var(--white-color);
  }
  
  .nav-list {
    height: 6rem;
    aspect-ratio: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    height: 70%;
    aspect-ratio: 2;
    cursor: pointer;
  }
  
  .menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
  }
  
  .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 1.26rem 2rem 1.26rem 2rem;
    margin: 0rem 2rem ;
  }
  
  .i-name {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.24em;
    letter-spacing: -0.025rem;
    transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.1s;
  }
  
  .menu-item:hover > .i-name {
    color: var(--secondary-color);
    text-decoration: underline;
    transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.1s;
  }
  
  .nav-interact {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  .user-nav {
    display: none;
    color: var(--primary-color);
    padding: 1.26rem 1.43rem 1.26rem 1.43rem;
    cursor: pointer;
    transition: 0.1s;
  }
  
  .user-nav:hover {
    opacity: 0.8;
    transition: 0.1s;
  }
  
  .toggle-nav {
    color: var(--primary-color);
    padding: 1.26rem 1.43rem 1.26rem 1.43rem;
    cursor: pointer;
    transition: 0.1s;
  }
  
  .toggle-nav:hover {
    opacity: 0.8;
    transition: 0.1s;
  }
  
  .absolute-menu {
    position: absolute;
    background-color: var(--transparent-color);
    width: 100%;
    height: 100dvh;
    z-index: 9999;
    display: none;
    justify-content: right;
    align-items: start;
  }
  
  .abs-menu-list {
    background-color: var(--white-color);
    width: 36%;
    height: 100%;
    padding: 9rem 3rem 5rem 3rem;
  }
  
  .close-icon {
    position: absolute;
    padding: 1.36rem;
    top: 3rem;
    right: 2.5rem;
    color: var(--primary-color);
    opacity: 0.7;
    cursor: pointer;
  }
  
  .abs-menu-item,
  .sub-menu-item {
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 3.36rem;
  }
  
  .sub-menu-item {
    padding: 0rem 1.5rem;
  }
  
  .abs-to-sub-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  
  .abs-menu-item:hover > .i-name {
    color: var(--secondary-color);
    text-decoration: underline;
    transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.1s;
  }
  
  .submenu-list {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
  
  .abs-item-name {
    display: flex;
    align-items: center;
    gap: 1.24rem;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .abs-i-name,
  .sub-i-name {
    font-weight: 700;
    font-size: 1.24em;
    letter-spacing: -0.025rem;
    color: var(--primary-color);
  }
  
  .sub-i-name {
    font-weight: 500;
    font-size: 1.18em;
  }
  
  .arrow-right {
    justify-self: flex-end;
    position: absolute;
    right: 1rem;
  }
  
  .arrow-left {
    justify-self: flex-end;
    display: none;
  }
  
  .submenu-list {
    display: none;
  }
  
  /* card sale styles */
  
  /* footer */
  .footer {
    background-color: rgba(35, 31, 32);
    padding: 40px 197px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.f-top,
.f-right-content {
    color: white;
}

.f-bottom {
    color: #7b7979;
}
  
  @media screen and (min-width: 1024px) {
    .deal-item {
      width: 90%;
      aspect-ratio: 0.8;
      overflow: hidden;
  
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      max-height: 270px;
      gap: 1rem;
    }
  
    .deal-list {
      max-width: 70%;
      min-width: 1000px;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .user-nav {
      display: block;
    }
  
    .menu-list {
      position: absolute;
      top: 5rem;
      right: 0;
      display: none;
      background-color: var(--white-color);
      width: 70%;
      border-radius: 7px;
    }
  
    .navigation {
      padding: 1rem;
    }
  
    .abs-menu-list {
      width: 70%;
    }
  }
  @media screen and (max-width: 768px) {
    .abs-menu-list {
      width: 100%;
    }
  }
  